{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color: lightsteelblue;">
        <div class="container">
          <div class="head">
            <h1>About</h1>
          </div>
            <div style="color: black;">
                <p>Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers.
                </p>
            </div>
              
            <br> <br>
            <div class="gallery">
                  <img src="../static/image/1.png" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Rich art culture</div>
              </div>
              
              <div class="gallery">
                  <img src="../static/image/2.png" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Variety festivals</div>
              </div>
              
              <div class="gallery">
                  <img src="../static/image/3.png" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Delicious cuisine</div>
              </div>

              <div class="gallery">
                <img src="../static/image/allapuzha.png" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="desc">Backwaters</div>
            </div>
            
            <div class="gallery">
                <img src="../static/image/history.png" alt="Forest" width="600" height="400">
              </a>
              <div class="desc">Places of history</div>
            </div>
            
            <div class="gallery">
                <img src="../static/image/nature.png" alt="Northern Lights" width="600" height="400">
              </a>
              <div class="desc">Unique geography</div>
            </div>
        </div>
    </body>
</html>
{%endblock%}