{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kerala</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body class="backgroundimage">
        <div class="container">
            <h1 class="fancy">Welcome to the god's own country...</h1>
            <div class="stylediv">
                Create beautiful memories to cherish and <br>
                footprints for others to follow.
            </div>
            <div class="list">
                <ul>
                    <li>Witness the mesmerising art forms</li>
                    <li>Be part of the vibrant festivities</li>
                    <li>Enjoy the delicious cuisines</li>
                </ul>
            </div>
        </div>
    </body>
</html>
{%endblock%}